@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/aboutus.css" />
    <title>About Us</title>
</head>
<body>
    <nav>
        <!-- Navigation links as shown in the Home Page -->
    </nav>
    <main>
        <section id="our-Team">
            <h2>Our Team</h2>
            <div class="teamContainer">
                <div class="team-item">
                    <img src="~/img/profile_chandu.jpg" alt="" class="circular-image">
                    <h5 class="member-name">SriChandu Sai Battala</h5>
                    <a href="https://www.linkedin.com/in/srichandu-battala/">LinkedIN</a>
                    <p>I am a seasoned Java developer with over three years of experience in developing robust applications with Spring Boot at Infosys. I have a strong background in creating efficient and scalable solutions that meet client requirements. My experience at Infosys has allowed me to work on a wide range of projects, enhancing my skills in software development and problem-solving. Additionally, I am currently pursuing a Master's degree in Business Analytics and Information Systems at USF, further deepening my expertise in technology and data-driven decision-making. I am passionate about leveraging my technical knowledge to drive innovative solutions and thrive in dynamic and collaborative environments.</p>

                </div>
                <div class="team-item">
                    <img src="~/img/profile_ram.jpg" alt="" class="circular-image">
                    <h5 class="member-name">Rama Sai Reddy C</h5>
                    <a href="https://www.linkedin.com/in/ramasai-reddy/">LinkedIN</a>
                    <p>I'm a highly motivated and versatile professional with a solid foundation in .NET technologies, including Entity Framework, Web API, MVC Core, and SQL. With three years of practical experience in the field at Infosys, I've honed my skills and have been at the forefront of technology trends. Currently, I'm gaining valuable insights as a student assistant, contributing to various projects and continuing my journey of learning. I'm passionate about leveraging data-driven solutions, and in my role as a Dashboard Specialist, I've been utilizing tools such as QlikSense, Python, Tableau, and PowerBI to transform data into actionable insights.</p>

                </div>
                <div class="team-item">
                    <img src="~/img/profile_nikhil.jpeg" alt="" class="circular-image">
                    <a href="https://www.linkedin.com/in/nikhilbuggineni/">LinkedIN</a>
                    <h5 class="member-name">Nikhil Buggineni</h5>
                    <p>As a solutions-driven Business Analyst with over three years of experience at Cognizant, I have successfully supported the software development lifecycle by bridging communication gaps between technical and business teams. My expertise spans from requirement gathering to testing and implementation, ensuring that projects are executed efficiently and meet the needs of all stakeholders. Additionally, I'm currently pursuing a Master's in Business Analytics and Information Systems, further enhancing my skills and knowledge in this dynamic field. My commitment to excellence and my ability to translate complex technical concepts into understandable business language have been key assets in driving project success.</p>

                </div>
                <div class="team-item">
                    <img src="~/img/profile_rana.jpg" alt="" class="circular-image">
                    <h5 class="member-name">Shanmuka Rana </h5>
                    <a href="https://www.linkedin.com/in/rana-chowdary-199a0617b/">LinkedIN</a>
                    <p>I'm a diligent Business Analyst with a year of valuable experience at Cognizant, where I contributed to the success of various projects by analyzing and translating business requirements into technical solutions. I have a keen ability to bridge the gap between business and technology, ensuring that projects align with organizational goals. Currently, I'm pursuing a Master's in Business Analytics and Information Systems at the University of South Florida, enhancing my skills and knowledge in this field. My commitment to continuous learning and adaptability positions me to excel in the ever-evolving landscape of business analytics.</p>

                </div>
            </div>
        </section>
        <section id="Our-Data-Model">
            <h2>Our Data Model</h2>
            <img src="img/Data_model.png" />
        </section>
        <section id="Contributions">
            <h5>SriChandu Sai Battala</h5><img src="~/img/chandu_c.jpeg" />
            <h5>Rama Sai Reddy C</h5><img src="~/img/ram_c.jpg" />
            <h5>Nikhil Buggineni</h5><img src="~/img/nikhil_c.jpg" />
            <h5>Shanmuka Rana </h5><img src="~/img/rana_c.jpeg" />
        </section>
        <section id="features">
            <h2>Technical Features</h2>
            <div>
                <p>This Job Portal MVC project features a comprehensive web application designed to streamline job postings and applications. It offers user registration and authentication, allowing job seekers to create profiles and apply for positions while enabling employers to post job listings. The system supports CRUD (Create, Read, Update, Delete) operations, providing an intuitive user interface for managing job details and applications. Users can search and filter job listings, with the ability to view detailed job information. The project incorporates database integration, ensuring the persistence of job data, and utilizes validation and error handling to enhance data integrity. Additionally, it implements authorization and access control to protect sensitive information, creating a secure and efficient job portal for both job seekers and employers.</p>
            </div>
        </section>
        <section id="github">
            <h2>Our Github Repository</h2>
            <div>
                <a class="button" href="https://github.com/Ramasaiusf/ISM6225_Fall_2023_Assignment_LookAndFeel">Github</a>
            </div>
        </section>

    </main>
</body>
</html>
