@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/main.css">
    <title>Home</title>
</head>
<body>
    
    <main>
        <div class="container1">
            
            <h1></h1>
            <section class="welcome">
                <div class="welcome-message">
                    <h1><b>Welcome to NYC Job Portal!</b></h1><br>

                    <p class=" attractive-text">We're so glad you're here.</p>
                    <p>~~~~~~~~~~~</p>
                    <p class=" attractive-text">Browse our current job listings by visiting the 'Job Postings' section.</p>
                    <p>~~~~~~~~~~~</p>
                    <p class=" attractive-text">Explore department-specific job opportunities under the 'Departments' tab.</p>
                    <p>~~~~~~~~~~~</p>
                    <p class=" attractive-text">Analyze our job distribution across career levels using the 'Job Stats' feature.</p>
                    
                </div>
            </section>
            <img src="~/img/group.jpg" class="img1" />


            <section id="usage">
                <h2><b>Website Usage</b></h2>
                <p>
                    This website for New York City (NYC) serves as a valuable platform for both job seekers and employers in the metropolitan area.
                    Job seekers can efficiently search for a wide range of employment opportunities across various industries, applying filters to
                    refine their search based on criteria like job category, location, and salary range. Employers, on the other hand, can easily
                    list and promote job openings to a diverse and competitive talent pool. With user-friendly interfaces, real-time updates, and
                    features like  notifications for new listings, these websites have become an indispensable resource for individuals seeking
                    employment and companies looking to connect with potential candidates in the vibrant job market of NYC.
                </p>

            </section>
            <section>
                <div class="job-stats">
                    <h2><b>Employment Statistics in NYC</b></h2>
                    <ul>
                        <li>Unemployment rate: 3.9%</li>
                        <li>Nonfarm wage and salary employment: 9,708,500</li>
                        <li>Job openings: 460,000</li>
                        <li>Ratio of unemployed persons per job opening: 0.8</li>
                        <li>12-month % change in nonfarm wage and salary employment: 1.4%</li>
                    </ul>
                </div>
            </section>
            
        </div>
    </main>

    
</body>

</html>
