@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add your meta tags, title, and CSS links here -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/jobpostings.css"> <!-- Include specific CSS for this page -->
    <script src="~/js/jobstats.js"></script>
</head>
<body>
   

    <div class="container">
        <!-- Career Levels Table -->
        <div class="career-level">
            <h2>Career Levels</h2>
            <table id="careerLevelTable" class="table">
                <thead>
                    <tr>
                        <th>Level</th>
                        <th>Number of Jobs</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be displayed here -->
                </tbody>
            </table>
            <h1></h1>
            <h1> Career Level VS No of Jobs</h1>
            <div class="bar-chart">
                <canvas id="careerLevelChart"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
