/* job_postings.css */
body {
    background-color: #f5f5f5; /* Set background color for the page */
}
/*header {
    background-color: #573b8a;
    color: #fff;
    padding: 20px 0;
}*/

img {
    position: relative;
}

nav img {
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.3s;
}

    nav a:hover {
        color: #ff9900;
    }
.home-link {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 18px;
}
/* job_postings.css */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

    .pagination-button:hover {
        background-color: #0056b3;
    }

    .pagination-button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    .pagination-button:not(:disabled) {
        transition: background-color 0.3s;
    }

/* Add this CSS to your stylesheet */

/* Add this CSS to your stylesheet */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .custom-table th, .custom-table td {
        padding: 4px;
        border: 1px solid #333;
        text-align: center;
        font-weight: bold;
    }

    .custom-table th {
        background-color: #573b8a;
        color: #fff;
    }

    .custom-table tr:nth-child(even) {
        background-color: #f7f7f7;
    }

    .custom-table tr:nth-child(odd) {
        background-color: #e5e5e5;
    }

    .custom-table tr:hover {
        background-color: #999;
    }



/*.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .table th, .table td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }

    .table th {
        background-color: #573b8a;
        color: #fff;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tr:hover {
        background-color: #ddd;
    }*/

/* Style for the search container */
.search-container {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
}

/* Style for the search input field */
#table-search {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

    /* Style for the search input placeholder text */
    #table-search::placeholder {
        color: #999;
    }

    /* Style for the search input on focus */
    #table-search:focus {
        border-color: #007bff;
    }

.button-container {
    text-align: right;
    padding: 10px;
}

#create-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    #create-button:hover {
        background-color: #0056b3;
    }
.edit-button {
    background-color: #ffd800;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.Details-button {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    background-color: #0056b3; /* Change this to your desired button color */
    color: #f5f5f5; /* Text color */
    border-radius: 0%; /* Makes the button round */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

    /* Add a hover effect to change the button color on hover */
    .Details-button:hover {
        background-color: #3498db; /* Change this to your desired hover color */
    }


/* Additional styles for the table, if needed */
